@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* ### Primary */

  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  /* 
### Neutral */

  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}
.body-card {
  display: grid;
  place-items: center;
  min-height: 100dvh;
  width: 100%;
  padding: 2.5em 0;
  font-family: "League Spartan", sans-serif;
  background-position:
    top left,
    bottom right;
  background-repeat: no-repeat, no-repeat;
  background-image:
    url(./images/bg-pattern-top-mobile.svg),
    url(./images/bg-pattern-bottom-mobile.svg);
}

.main-card {
  width: 100%;
   max-width: 1110px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 0.5em;
}
.header-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  text-align: center;
}
.header-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.head-text {
  font-size: 2em;
  padding-inline: 1.5em;
  color: var(--Very-Dark-Magenta);
  font-weight: 800;
  line-height: 0.88;
  letter-spacing: -1px;
}

.head-subtext {
  color: var(--Dark-Grayish-Magenta);
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.6;
}
.rating-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rating {
  gap: 0.9em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Light-Grayish-Magenta);
  color: var(--Very-Dark-Magenta);
  font-weight: 700;
  padding: 1.2em;
  border-radius: 12px;
}
.text {
  font-size: 1em;
  font-weight: 700;
}
.stars-icon {
  display: inline-block;
  width: 100px; /* 5 stars * 20px = 100px total width */
  height: 16px; /* Height of 1 star image */

  background-image: url("./images/icon-star.svg");
  background-repeat: space; /* Repeats horizontally */
  background-position: center;
}
.testimonial-card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
}

.card-1,
.card-2,
.card-3 {
  background-color: var(--Very-Dark-Magenta);
  color: var(--White);
  border-radius: 12px;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}
.red {
  color: var(--Soft-Pink);
}
.avatar {
  display: flex;
  gap: 2em;
  align-items: center;
}
.avatar-info {
  gap: 0.3em;
  display: grid;
}
img {
  vertical-align: middle;
  border-radius: 50px;
  height: auto;
}
.avatar-name,
.red {
  font-size: 1em;
}
.comment-text {
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.6;
}

/* DESKTOP MODE */

@media (min-width: 768px) {
  .body-card {
    background-image:
      url(./images/bg-pattern-top-desktop.svg),
      url(./images/bg-pattern-bottom-desktop.svg);
  }
  .main-card {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0 2em;
  }
  .header-main {
   display: grid;
   grid-template-columns: 1fr 1fr;
    text-align: left;
  }
  .header-card {
    display: flex;
    align-items: flex-start;
  }

  .head-text {
    font-size: 3.9em;
    padding: 0;
  }

  .rating {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1em;
    align-items: center;
    width: 100%; /* Fills the container column */
  }
  .text {
    text-align: end;
    gap: 2em;
    font-size: 1.3em;
  }
  .comment {
    line-height: 1.2;
  }
/* translateX(positive) down, negative opposite */
  .rating:nth-child(1) {
    transform: translateX(0);
  }

  .rating:nth-child(2) {
    transform: translateX(40px); /* Pushes 2nd bar right */
  }

  .rating:nth-child(3) {
    transform: translateX(80px); /* Pushes 3rd bar further right */
  }
  .testimonial-card {
   width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: start;
  }
}
.comment-text {
  font-size: 1.06rem;
}
.card-1,
.card-2,
.card-3 {
  padding: 2.5rem 2.5rem;
}
.card-1:nth-child(1) {
  transform: translateY(0);
}

.card-2:nth-child(2) {
  transform: translateY(16px); /* Drops Irene's card down */
}

.card-3:nth-child(3) {
  transform: translateY(32px); /* Drops Anne's card further down */
}
