@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* ### Primary */

  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  /* 
### Neutral */

  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}
.body_card {
  display: grid;
  place-content: center;
  min-height: 100dvh;
  width: 100%;
  font-family: "League Spartan", sans-serif;
  background-position:
    left top,
    right bottom;
  background-repeat: no-repeat, no-repeat;
  /* background-image:
    url(./images/bg-pattern-top-mobile.svg),
    url(./images/bg-pattern-bottom-mobile.svg); */
}
.main_card {
  max-width: 400px;
  display: grid;
  place-items: center;
  gap: 2em;
  padding: 2.5em 0;
  /* background-color: violet; */
}
.header_main {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  text-align: center;
}
.header_card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1em;
  width: 95%;
}
.head_text {
  font-size: 2em;
  padding-inline: 1.5em;
  color: var(--Very-Dark-Magenta);
  font-weight: 750;
  line-height: 0.9;
  text-wrap: pretty;
}
.head_subtext {
  color: var(--Dark-Grayish-Magenta);
  line-height: 1.5;
}
.rating_card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}
.rating {
  gap: 0.9em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Light-Grayish-Magenta);
  color: var(--Very-Dark-Magenta);
  font-weight: 700;
  padding: 1em;
  border-radius: 12px;
}
.stars_icon {
  display: inline-block;
  width: 100px; /* 5 stars * 20px = 100px total width */
  height: 16px; /* Height of 1 star image */

  background-image: url("./images/icon-star.svg");
  background-repeat: space; /* Repeats horizontally */
  background-position: center;
}
.testimonial_card {
  display: grid;
  gap: 1em;
}
.card_1,
.card_2,
.card_3 {
  background-color: var(--Very-Dark-Magenta);
  color: var(--White);
  padding: 2.6em;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
}
.red {
  color: var(--Soft-Pink);
}
.avatar {
  display: flex;
  gap: 2em;
  align-items: center;
}
.avatar_info {
  gap: 0.3em;
  display: grid;
}
img {
  vertical-align: middle;
  border-radius: 50px;
  height: auto;
}
.avatar_name,
.red {
  font-size: 1.2em;
}
.comment {
  color: var(--White);
  font-size: 1.3em;
}
@media (min-width: 48em) {
  .body_card {
    display: block;
    background-position:
      left top,
      right bottom;
    background-repeat: no-repeat, no-repeat;
    background-image:
      url(./images/bg-pattern-top-desktop.svg),
      url(./images/bg-pattern-bottom-desktop.svg);
    width: 100%;
    margin: 0 auto;
  }
  .main_card {
    width: 90%; /* Keeps padding on medium screens */
    max-width: 1199px; /* Prevents layout from stretching infinitely on wide monitors */
    margin: 0 auto;
  }
  .header_main {
    display: flex;
    flex-direction: row;
    gap: 6rem;
    align-items: center;
    margin-bottom: 4rem;
    width: 100%;
  }
  .header_card {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .head_text {
    padding: 0;
    font-size: 3.9em;
  }

  .rating {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5em;
    align-items: center;
    width: 100%; /* Fills the container column */
    max-width: 500px;
  }
  .text {
    text-align: end;
    gap: 4em;
    font-size: 1.3em;
  }
  .comment {
    font-size: 1.34em;
    line-height: 1.2;
  }

  .rating:nth-child(1) {
    transform: translateX(0);
  }

  .rating:nth-child(2) {
    transform: translateX(40px); /* Pushes 2nd bar right */
  }

  .rating:nth-child(3) {
    transform: translateX(80px); /* Pushes 3rd bar further right */
  }
  .testimonial_card {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 7rem;
    align-items: start;
    width: 100%; /* Fills the container column */
    min-width: 400px;
  }
  .card_1,
  .card_2,
  .card_3 {
    width: 120%;
  }
  .card_1:nth-child(1) {
    transform: translateY(0);
  }

  .card_2:nth-child(2) {
    transform: translateY(16px); /* Drops Irene's card down */
  }

  .card_3:nth-child(3) {
    transform: translateY(32px); /* Drops Anne's card further down */
  }
}
