@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* ### Primary */

  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  /* 
### Neutral */

  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}
.body_card {
  display: grid;
  place-items: center;
  min-height: 100dvh;
  width: 100%;
  padding: 2.5em;
  font-family: "League Spartan", sans-serif;
  background-position:
    top left,
    bottom right;
  background-repeat: no-repeat, no-repeat;
  padding: 5rem 1.5rem;
  background-image:
    url(./images/bg-pattern-top-mobile.svg),
    url(./images/bg-pattern-bottom-mobile.svg);
}

.main_card {
  width: 100%;
  max-width: 1110px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* background-color: violet; */
}
.header_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  text-align: center;
}
.header_card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* text-align: center; */
  align-items: center;
}
.head_text {
  font-size: 2.9em;
  padding-inline: 1.5em;
  color: var(--Very-Dark-Magenta);
  font-weight: 800;
  line-height: 0.88;
  letter-spacing: -1px;
}

.head_subtext {
  color: var(--Dark-Grayish-Magenta);
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.6;
}
.rating_card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rating {
  gap: 0.9em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Light-Grayish-Magenta);
  color: var(--Very-Dark-Magenta);
  font-weight: 700;
  padding: 1.5em;

  border-radius: 12px;
}
.text {
  font-size: 1.3em;
  font-weight: 700;
}
.stars_icon {
  display: inline-block;
  width: 100px; /* 5 stars * 20px = 100px total width */
  height: 16px; /* Height of 1 star image */

  background-image: url("./images/icon-star.svg");
  background-repeat: space; /* Repeats horizontally */
  background-position: center;
}
.testimonial_card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
}

.card_1,
.card_2,
.card_3 {
  background-color: var(--Very-Dark-Magenta);
  color: var(--White);

  border-radius: 12px;

  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  gap: 2.5em;
  width: 100%;
}
.red {
  color: var(--Soft-Pink);
}
.avatar {
  display: flex;
  gap: 2em;
  align-items: center;
}
.avatar_info {
  gap: 0.3em;
  display: grid;
}
img {
  vertical-align: middle;
  border-radius: 50px;
  height: auto;
}
.avatar_name,
.red {
  font-size: 1.2em;
}
.comment_text {
  font-size: 1.3em;
    font-weight: 400;
    line-height: 1.6;

}

/* DESKTOP MODE */

@media (min-width: 60em) {
  .body_card {

    background-image:
      url(./images/bg-pattern-top-desktop.svg),
      url(./images/bg-pattern-bottom-desktop.svg);
  }
  .main_card {
       width: 100%;
    max-width: 1110px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .header_main {
   flex-direction: row;
        align-items: flex-start;
        text-align: left;
        gap: 6rem;
  }
  .header_card {
   width: 45%;
        flex-shrink: 0;
        display: flex;
  align-items: flex-start;
  }
  
.head_text{
  font-size: 3.9em;
  padding: 0;
  
}

  .rating {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5em;
    align-items: center;
    width: 100%; /* Fills the container column */
    max-width: 500px;
  }
  .text {
    text-align: end;
    gap: 4em;
    font-size: 1.3em;
  }
  .comment {
    font-size: 1.3975em;
    line-height: 1.2;
  }

  .rating:nth-child(1) {
    transform: translateX(0);
  }

  .rating:nth-child(2) {
    transform: translateX(40px); /* Pushes 2nd bar right */
  }

  .rating:nth-child(3) {
    transform: translateX(80px); /* Pushes 3rd bar further right */
  }
  .testimonial_card {
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        align-items: start;
    }
  }
  .card_1,
  .card_2,
  .card_3 {
    padding: 2.5rem 2.5rem;
  }
  .card_1:nth-child(1) {
    transform: translateY(0);
  }

  .card_2:nth-child(2) {
    transform: translateY(16px); /* Drops Irene's card down */
  }

  .card_3:nth-child(3) {
    transform: translateY(32px); /* Drops Anne's card further down */
  }

