@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
}
:root {
  --Blue-950: hsl(233, 26%, 24%);
  --Green-500: hsl(136, 64%, 51%);
  --Cyan-400: hsl(192, 69%, 51%);
  --Gray-600: hsl(233, 8%, 62%);
  --Gray-100: hsl(220, 16%, 96%);
  --Gray-50: hsl(0, 0%, 98%);
  --White: hsl(0, 100%, 100%);
  --button-bg: linear-gradient(
    to left top,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
}
button {
  font-weight: 500;
}
.site-body {
  background-color: var(--White);
  min-height: 100dvh;
  width: 100%;

  font-size: 1.125em;
}
.site-main {
  display: grid;
  gap: 3em;
  min-width: 0;
  width: 100%;
}
.container {
  padding-inline: 2rem;
}
.hero-content,
.about,
.footer-card {
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}
.site-header {
  display: flex;
  padding: 1em;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
  background-color: var(--White);
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
}
.nav-list,
.header-btn {
  display: none;
}
.site-nav-toggle {
  background-color: var(--White);
  border: none;
  color: var(--Cyan-400);
}
.nav-list {
  width: 100%;
}
.list-items {
  list-style: none;
  display: flex;
  gap: 2em;
}
a {
  text-decoration: none;
}
.hero {
  display: flex;
  flex-direction: column;
  gap: 0em;
  align-items: center;
}
.hero-img {
  margin-top: -4.5rem;
  position: relative;
  top: 0;
  bottom: 0;
}

.hero-bg {
  background-image: url(./images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-position: 0rem -2rem;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  z-index: -1;
}
.hero,
.hero-img {
  width: 100%;
  padding: 0;
}
.hero-btn {
  background: var(--button-bg);
  color: var(--White);
  padding: 1em;
  width: 50%;
  border: none;
  border-radius: 40px;
}
h1,
h2,
h3 {
  font-weight: 400;
  margin-bottom: 1rem;
}
p,
.author {
  color: var(--Gray-600);
}
.hero-subtext {
  font-size: 0.89rem;
  padding-bottom: 1.7em;
}

/* ABOUT STYLES */
.about {
  background-color: var(--Gray-50);
  padding: 3em 0;
  display: grid;
  gap: 2em;
}
.about-text {
  padding: 0 2em;
  font-size: 1.7em;
}
.about-subtext {
  font-size: 0.89em;
}
.reasons {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  padding-inline: 0.3rem;
}
.online-bank,
.sim-budget,
.fast-onboard,
.open-api {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}
.icon {
  padding-bottom: 1em;
}
.sub-text {
  font-size: 0.89em;
  padding-inline: 0.4em;
}
.text {
  font-size: 1.3em;
}

/* ARTICLES STYLES */
.article-text {
  text-align: center;
  padding: 0.6em 0;
  font-size: 1.9em;
}
.articles {
  padding: 1em;
  background-color: var(--Gray-50);
}
.article-cards {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 2em;
}
.art {
  border-radius: 10px;
  overflow: hidden;
}
.author {
  font-size: 0.5em;
}
.art-content {
  padding: 1.2em 1.5em;
  background-color: var(--White);
  text-align: left;
}
.art-text {
  font-size: 0.98em;
  padding-top: 0.8em;
  width: 89%;
}
.art-subtext {
  font-size: 0.89em;
}

.footer-card {
  background-color: var(--Blue-950);
  padding: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  font-size: 0.79em;
}
.footer-lists li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}
a {
  color: var(--Gray-50);
  text-decoration: none;
}
.socials {
  display: flex;
  gap: 1em;
}

/* TABLETS */
@media (min-width: 768px) {
  .site-body {
    position: static;
  }
  .hero-img {
    margin-top: -9.5rem;
    width: 90%;
  }
  .hero-bg {
    width: 100%;
    height: 80%;
  }
  .hero-content {
    width: 78%;
  }

  .about-subtext,
  .sub-text {
    padding-inline: 2em;
    font-size: 1em;
  }
  .article-cards {
    align-items: center;
    justify-content: center;
  }
  .author {
    font-size: 0.7em;
  }
  .art-img {
    width: 100%;
  }
  .container {
    padding-inline: 2.5em;
  }
  .foot {
    width: 30%;
  }
}

@media (min-width: 1024px) and (max-width: 1399px) {
  .site-main {
    width: 100%;
  }

  .nav-list,
  .header-btn {
    display: block;
  }
  .site-nav-toggle {
    display: none;
  }
  .header-btn {
    background: var(--button-bg);
    color: var(--White);
    padding: 0.5em;
    width: 20%;
    border: none;
    border-radius: 40px;
  }

  .hero-list {
    color: var(--Blue-950);
    font-size: 0.7em;
    align-items: center;
  }
  .list-items {
    justify-content: center;
    align-items: center;
  }
  .hero-bg {
    background-image: url(./images/bg-intro-desktop.svg);
    left: 0;
    background-position: 30rem -10rem;
    height: 100%;
    background-size: cover;
  }
  .hero {
    flex-direction: row;
    gap: 2rem;
    align-items: end;
    justify-content: space-between;
  }
  .hero-content {
    order: 1;
    flex: 1 1 50%;
    width: 50%;
    text-align: left;
  }
  .hero-image {
    order: 2;
    flex: 1 1 50%;
    width: 50%;
    min-width: 0;
    overflow: hidden;
  }

  .hero-img {
    display: block;
    width: calc(100% + 1rem);
    max-width: none;
    margin-left: 1rem;
    top: 20px;
  }
  .reasons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-content: left;
  }
}
