@font-face {
  font-family: "Inter"; /* The nickname you give the font */
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
  font-weight: 400 600 700;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey-700: hsl(0, 0%, 20%);
  --Grey-800: hsl(0, 0%, 12%);
  --Grey-900: hsl(0, 0%, 8%);
}
.site-container {
  display: grid;
  margin: 0;
  place-content: center;
  font-size: 0.9em;
  font-family: "Inter", sans-serif;
  background-color: var(--Grey-900);
  color: var(--White);
  min-height: 100dvh;
  width: 100%;
}
figure {
  margin: 0;
}
figure img {
  vertical-align: middle;
  width: 100%;
  max-width: 100px;
  border-radius: 50%;
  object-fit: contain;
  overflow: hidden;
  object-position: center;
  padding: 1em;
  margin: auto;
  height: auto;
}
.container {
  border: 2px var(--Grey-800) solid;
  background-color: var(--Grey-800);
  padding: 2em 2em 0 2em;
  max-width: 500px;
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.author-information {
  text-align: center;
  margin-bottom: 1.3em;
}
h1 {
  margin-bottom: 0.3em;
  font-size: 1.4em;
  font-weight: 700;
}

.author-location {
  margin: 0em 0 1.3em 0;
  font-weight: 600;
  line-height: 1.9;
  font-size: 0.9em;
  color: var(--Green);
}
.author-bio {
  margin-bottom: 0;
  color: var(--White);
  font-size: 0.9em;
}
ul {
  padding: 0;
  margin: 0.5em 0 2em 0;
  display: flex;
  flex-direction: column;
  gap: 0.9em;
  width: 100%;
  list-style: none; /* Put this here to clean up the whole list */
}

/* 1. Structural placeholder only - no background, padding, or hover rules here! */
ul li {
  width: 100%;
}

/* 2. The Anchor Tag does ALL the heavy lifting */
a {
  display: block;
  width: 100%;
  padding: 1em 7em; /* Vertical padding inside the button, i had to use a massive LR so it can stretch */
  text-align: center;
  background-color: var(--Grey-700);
  color: var(--White);
  text-decoration: none;
  font-weight: 700;
  border-radius: 10px;
}

/* 3. The Grand Unification: Mouse Hover and Keyboard Focus perform identical actions */
a:hover,
a:focus-visible {
  background-color: var(--Green); /* Using your custom green variable */
  color: var(--Grey-800);
  cursor: pointer;
}

footer {
  margin: 2em;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  color: var(--Green);
}
