@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 800;
}
:root {
  --Green-500: hsl(171, 66%, 44%);
  --Blue-100: hsl(233, 100%, 69%);
  --Gray-700: hsl(210, 10%, 33%);
  --Gray-500: hsl(201, 18%, 78%);
  --Gray-510: hsl(200, 8%, 71%);
  --Gray-300: hsla(206, 38%, 88%, 0.211);
  --White: hsl(0, 0%, 100%);
  --White--100: hsla(0, 29%, 95%, 0.141);
}
.body-wrapper {
  display: grid;
  place-items: center;
  min-height: 100dvh;
  font-family: "Bai Jamjuree", sans-serif;

  width: 100%;
}
.main-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 6em;
  padding-inline: 0.5em;
}
.header-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 6em;
  gap: 2em;
  width: 100%;
  background-size: cover;
}
img {
  vertical-align: middle;
  height: auto;
  max-width: 100%;
}
.logo {
  width: 30%;
}
.header-infocard {
  text-align: center;
  padding-inline: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.info-headtext {
  font-size: 1.7em;
  color: var(--Gray-700);
}
.info-subtext {
  font-size: 0.88em;
  line-height: 1.5;
  padding-inline: 0.9em;
  color: var(--Gray-500);
}
.btn-group {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  margin-bottom: 2em;
  /* max-width: 80%;
  width: 75%; */
  width: 85%;
}
.btn-1,
.btn-2 {
  border-radius: 50px;
  padding: 1em;
  border: none;
  color: var(--White);
  font-weight: 500;
  font-size: 0.9em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
.btn-1 {
  background-color: var(--Green-500);
}
.btn-2 {
  background-color: var(--Blue-100);
}

/* ABOUT SECTION STYLES */
.about-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 3em;
  padding: 1.5em;
}
.about-infocard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  text-align: center;
}
.info-about-text {
  font-size: 1.5em;
  color: var(--Gray-700);
}
.info-about-subtext {
  color: var(--Gray-500);
  font-size: 1em;
  line-height: 1.5;
}
.feature-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5em;
}
.feature-info-card {
  display: flex;
  flex-direction: column;
  gap: 2em;
  /* align-items: center;
  justify-content: center; */
  text-align: center;
}
.search-card,
.iCloud-card,
.history-card {
  display: grid;
  gap: 0.5em;
}
.card-subtext {
  color: var(--Gray-500);
  font-size: 0.9em;
}

/* ACCESS CARD STYLES */
.access-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 3em;
  padding: 1.5em;
}
.access-info {
  text-align: center;
  display: flex;
  gap: 1em;
  flex-direction: column;

  color: var(--Gray-700);
}
.card-text {
  color: var(--Gray-700);
}
.info-access-text {
  text-transform: capitalize;
}
.info-access-subtext {
  font-size: 0.89em;
  color: var(--Gray-500);
  line-height: 1.5;
  padding-inline: 0.9em;
}

/* TOOL CARD STYLES */
.tool-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 1.5em;
  text-align: center;
  gap: 4em;
}
.tool-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.info-tool-text,
.blacklist-text,
.icon-text,
.preview-text {
  color: var(--Gray-700);
}
.info-tool-subtext {
  line-height: 1.5;
  color: var(--Gray-500);
}
.tool-list-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
.item1-info,
.item2-info,
.item3-info {
  display: grid;
  gap: 1em;
}
.blacklist-subtext,
.icontext-subtext,
.preview-subtext {
  color: var(--Gray-500);
  font-size: 0.9em;
  line-height: 1.4;
}
.blacklist-subtext {
  padding-inline: 0.9em;
}

/* SPONSORS STYLES */
.sponsors-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4em;
  padding: 1.5em;
}

/* DOWNLOAD STYLES */
.download-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
  gap: 2em;
}
.download-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
}
.info-download-text {
  color: var(--Gray-700);
  font-size: 1.6em;
}
.info-download-subtext {
  color: var(--Gray-500);
  line-height: 1.4;
  font-size: 0.98em;
}

/* FOOTER STYLES */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2em;
  justify-content: center;
  margin-top: 5em;
  background-color: var(--Gray-300);
  font-size: 0.8em;
  color: var(--Gray-700);
}
.logo2 {
  width: 40%;
}
.left-card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  text-align: center;
}
.icon {
  padding: 1.5em;
}
.contact-FAQ,
.privacy-kit,
.install {
  display: grid;
  gap: 1em;
}
.socials {
  display: flex;
  align-items: center; /* Vertical center */
  justify-content: center; /* Horizontal center */
  gap: 1.8em;
  font-size: 1.5em; /* width of the icons*/
  width: 80px;
  padding-bottom: 1.8em;
}
.socials i {
  padding: 0.6em;
}

.faq:hover,
.contact:hover,
.privacy:hover,
.kit:hover,
.install:hover,
.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover {
  color: var(--Green-500);
}
.faq:focus-visible,
.contact:focus-visible,
.privacy:focus-visible,
.kit:focus-visible,
.install:focus-visible {
  color: var(--Green-500);
}
ul li {
  list-style: none;
}
.footer-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}
a {
  text-decoration: none;
  color: var(--Gray-700);
}
.social:focus-visible i{
  color: var(--Green-500);
}
.btn-1:hover,
.btn-2:hover {
  transform: scale(90%);
}
.btn-1:focus-visible,
.btn-2:focus-visible {
  transform: scale(90%);
  border: none;
}
@media (min-width: 746px) {
  .body-wrapper {
    background-image: url(./images/bg-header-desktop.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .main-wrapper {
    place-content: center;
    padding: 0;
    font-size: 1.02rem;
  }
  .info-subtext,
  .info-about-subtext,
  .card-subtext,
  .info-access-subtext,
  .info-tool-subtext,
  .blacklist-subtext,
  .icontext-subtext,
  .preview-subtext,
  .info-download-subtext,
  .a {
    color: var(--Gray-510);
    font-weight: 500;
  }
  .header-card {
    background-image: none;
  }
  .logo {
    width: 9%;
  }
  .info-subtext {
    padding: 0;
    text-align: center;
  }
  .header-infocard {
    padding-inline: 0.9em;
    width: 35%;
  }
  .btn-group {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .btn-1,
  .btn-2 {
    width: 15%;
  }
  .about-card {
    padding: 0;
  }
  .info-about-subtext {
    width: 45%;
  }
  .feature-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    place-items: inherit;
  }
  .computer {
    width: 95%;
  }
  .feature-info-card {
    text-align: left;
    padding-right: 6em;
    padding-left: 2em;
    width: 70%;
    gap: 3em;
  }
  .info-access-subtext {
    padding-inline: 1.8em;
  }
  .devices {
    width: 60%;
  }
  .access-info {
    padding-inline: 2em;
    width: 45%;
    text-align: center;
  }
  .tool-list-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
    text-align: center;
    width: 75.5%;
  }
  .blacklist-subtext {
    padding: 0;
  }
  .download-info {
    width: 40%;
  }
  .sponsors-card {
    flex-direction: row;
    justify-content: center;
  }
  .sponsors-card img {
    width: 11%;
  }
  /* nav ul{
  
  display: flex;
  justify-content: baseline;
  gap: 1.3em;
 } */

  .footer,
  .left-card {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 4em;
    text-align: center;
  }

  .contact-FAQ,
  .privacy-kit,
  .install {
    display: block;
    gap: 1em;
  }
  .nav-list {
    display: flex;
    flex-direction: row;
  }
  .install {
    align-items: normal;
  }
  .socials {
    padding: 0;
    gap: 0;
  }
  footer,
  .footer-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    text-align: left;
    list-style-type: none;
  }
}
