.active-link {
  color: var(--Black);
  border-bottom: 3px solid hsl(26, 100%, 55%);
}
.hero-card{
  background-image: url(../Newdesign-images/collection-hero.png);
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-site{
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-inline: 1em;
}