@font-face {
  font-family: "Outfit"; /* The nickname you give the font */
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400 600 700;
  font-style: normal;
}
@font-face {
  font-family: "Young Serif"; /* The nickname you give the font */
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --White: hsl(0, 0%, 100%);
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);
  --Brown-800: hsl(14, 45%, 36%);
  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
}
.site-container {
  display: grid;
  place-content: center;
  min-height: 100dvh;
  background-color: var(--Stone-100);
  font-family: "Outfit", sans-serif;
  font-size: 0.9em;

}
img {
  vertical-align: middle;
  width: 100%;
  max-width: 500px;
  object-fit: contain;
  overflow: hidden;
  object-position: center;
  margin: auto;
  height: auto;
  padding: 1.5em 1.5em 0 1.5em;
  border-radius: 30px;
}
.site-main {
  background-color: var(--White);
  border: 2px var(--Grey-800) solid;
  max-width: 500px;
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.site-content {
  padding:1.5em;
}
.site-head-text,
.ingredient-text,
.instruction-text,
.nutrition-text {
  font-family: "Young Serif", sans-serif;
  font-weight: 200;
  margin-bottom: 0;
}
.site-ingredients,
.site-instructions {
  border-bottom: var(--Rose-50) solid;
  padding-bottom: 0.5em;
}
h2, .prep-text{
  padding: 0.5em 0;
}
.site-head-subtext {
  font-size: 0.8em;
  color: var(--Stone-600);
  padding: 1.2em 0;
}
.site-preparation-time {
  background-color: var(--Rose-50);
  padding: 1em;
  border-radius: 10px;
}
p.prep-text {
  color: var(--Rose-800);
  font-weight: 700;
  margin-left: 1.3em;
  margin-bottom: 0;
}
h2 {
  color: var(--Brown-800);
  font-weight: 700;
}
.prep-list {
  font-size: 0.8em;
}
li {
  margin-bottom: 0.8em;
  padding-left: 1.5em;
}

.bold {
  color: var(--Stone-900);
  font-weight: 700;
}
li::marker {
  color: var(--Stone-900);
}
ol li::marker {
  color: var(--Brown-800);
  font-weight: 700;
}
ul.ingredient-list,
ol.instruction-list {
  list-style-position: outside;
  font-size: 0.8em;
  padding-left: 2.5em;
}
.nutrition-subtext,
tbody {
  font-size: 0.8em;
}
.nutrition-subtext {
  margin-bottom: 1em;
}

.nutrition-table {
  text-align: left;
  width: 100%;
  margin-bottom: 2em;
  border-collapse: collapse;
}

.nutrition-table td {
  border-bottom: var(--Rose-50) solid;

  padding: 0.75em 0;
  font-weight: 700;
  color: var(--Rose-800);
  width: 50%;
}

.nutrition-table td[scope="row"] {
  font-weight: 400;
  padding-left: 1.5em;
  color: black;
}

.nutrition-table tr:last-child td {
  border-bottom: none;
}

@media  (max-width: 620px) {
  .site-container{
    width: 100%;
  }
  .site-main {
    font-size: 1.2em;
  }
  img{
    width: 100%;
    padding: 0;
    border-radius: 0;
  }
}

