@font-face {
  font-family: "Outfit"; /* The nickname you give the font */
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400 600 700;
  font-style: normal;
}
@font-face {
  font-family: "Young Serif"; /* The nickname you give the font */
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --White: hsl(0, 0%, 100%);
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);
  --Brown-800: hsl(14, 45%, 36%);
  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
}
.site-container {
  display: grid;
  place-content: center;
  min-height: 100dvh;
  background-color: var(--Stone-100);
  font-family: "Outfit", sans-serif;
  font-size: 0.9em;
}
figure {
  margin: 0;
}
figure img {
  vertical-align: middle;
  width: 100%;
  max-width: 500px;
  object-fit: contain;
  overflow: hidden;
  object-position: center;
  margin: auto;
  height: auto;
  padding: 1.5em 1.5em 0 1.5em;
  border-radius: 30px;
}
.site-main {
  background-color: var(--White);
  border: 2px var(--Grey-800) solid;

  max-width: 500px;
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.site-content {
  padding: 0 1.5em 0 1.5em;
}

.site-head-text,
.ingredient-text,
.instruction-text,
.nutrition-text {
  font-family: "Young Serif", sans-serif;
  font-weight: 200;
  margin-bottom: 0;
}
.site-head-subtext {
  font-size: 0.7em;
  color: var(--Stone-600);
}
.site-preparation-time {
  background-color: var(--Rose-50);
  padding: 0.5em;
  border-radius: 10px;
}
p.prep-text {
  color: var(--Rose-800);
  font-weight: 700;
  margin-left: 1.3em;
  margin-bottom: 0;
}
.prep-list {
  font-size: 0.7em;
}
li {
  margin-bottom: 0.8em;
}
/* li.prep-list {
  list-style: inside;
} */
ul.prep-list {
  list-style-position: inside;
  padding-left: 2.5em;
}

.bold {
  color: var(--Stone-900);
  font-weight: bold;
  padding-left: 1.2em;
}
li::marker {
  color: var(--Stone-900);
}
ul.ingredient-list {
  list-style-position: inside;
  padding-left: 1.2em;
  font-size: 0.7em;
  /* padding-left: 2.5em; */
}
