@font-face {
  font-family: "Figtree"; /* The nickname you give the font */
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 900;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Gray-500: hsl(0, 0%, 42%);
  --Gray-950: hsl(0, 0%, 7%);
}
.site-container {
  display: grid;
  place-items: center;
  height: 100dvh;
  background-color: var(--Yellow);
  font-family: "Figtree", sans-serif;
  font-size: 15px;

}
.container {
  background-color: var(--White);
  max-width: 349px;
  width: 100%;
  border-radius: 15px;
  border: 1px solid var(--Gray-950);
  box-shadow: 8px 8px 0px var(--gray950);

  /* place-content: center; */
}
figure {
  margin: 0;
}
.head-img img {
  max-width: 100%;
  overflow: hidden;
  object-position: center;
  object-fit: contain;
  padding: 1em;
  border-radius: 10%;
  vertical-align: middle;
  height: auto;
}

.content {
  padding: 1em;
}
.span1 {
  background-color: var(--Yellow);
  width: 100px;
  padding: 0.5em;

  color: black;
  font-weight: 900;
  font-size: 0.91em;
}
.main-content {
  width: 100%;
  max-width: 400px;
}
h1 {
  font-size: 1.6em;
  font-weight: 900;
}
a h1:hover{
    color: var(--Yellow);
    cursor: pointer;
}
/* h1 a:focus-visible{
    color: var(--Yellow);
    cursor: pointer;
} */
a{
    list-style: none;
    text-decoration: none;
    color: var(--Gray-950);
}
.card{
    font-size: 0.9em;
    font-weight: 700;
}
p {
  color: var(--Gray-500);
  line-height: 1.5;
}
.author img {
  max-width: 25px;
}
.author {
  display: flex;
  align-items: center;
  gap: 1em;
}
.author-name {
  font-size: 0.8em;
  font-weight: 800;
}
footer {
  grid-area: 3/-3;
}
