@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --Purple-700: hsl(257, 40%, 49%);
  --Magenta-400: hsl(300, 69%, 71%);
  --White: hsl(0, 0%, 100%);
}
.body_wrapper {
  display: grid;
  place-content: center;
  background-image: url(./images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-color: var(--Purple-700);
  min-height: 100dvh;
  width: 100%;
  padding: 1.5em ;
  
}
img {
  vertical-align: middle;
  height: auto;
  max-width: 100%;
}
.main_container {
  width: 100%;
  max-width: 1110px;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.left_card {
  display: flex;
  flex-direction: column;
  gap: 4em;
}
.logo {
  width: 45%;
}
.right_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--White);
  gap: 1.5em;
}
.about_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
}
.about_text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
}
.about_subtext {
  font-family: "Poppin", sans-serif;
  line-height: 1.2;
  font-size: 0.9em;
}
button {
  padding: 0.9em;
  width: 70%;
  border-radius: 20px;
  border: none;
  color: var(--Purple-700);
  background-color: var(--White);
  font-size: 0.75em;
}
footer {
  width: 100%;
  display: grid;
  place-content: center;

  color: var(--White);
}
.socials {
  display: flex;
  align-items: center; /* Vertical center */
  justify-content: center; /* Horizontal center */
  padding-top: 2em;
  gap: 1em;
  font-size: 0.9em; /* width of the icons*/
  width: 80px;
}
.socials i {
  border-radius: 50px;
  border: 2px var(--White) solid;
  padding: 0.6em;
}
button:hover {
  background-color: var(--Magenta-400);
}
.social i:hover {
  color: var(--Magenta-400);
}

@media (min-width: 60em) {
  .body_wrapper {
    background-image: url(./images/bg-desktop.svg);
  }
  .main_container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4em;
  }
  .logo {
    width: 35%;
  }
  .left_card {
    width: 150%;
  }
  .right_card {
    align-items: flex-start;
  }
  .about_card {
    text-align: left;
    align-items: flex-start;
  }
  .about_text {
    font-size: 2.27em;
  }
  .about_subtext {
    font-size: 0.9em;
    line-height: 1.6;
  }
  button {
    width: 40%;
  }
  .socials {
    justify-content: right;

    width: 100%;
  }
  .social {
    display: flex;
    justify-content: right;
    align-items: end;
  }
}
