@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
:root {
  /* ### Primary */

  --Blue-100: hsl(225, 100%, 94%);
  --Blue-700: hsl(245, 75%, 52%);

  /* ### Neutral */

  --Blue-50: hsl(225, 100%, 98%);
  --Gray-600: hsl(224, 23%, 55%);
  --Blue-950: hsl(223, 47%, 23%);
}
.main_body {
  display: grid;
  place-content: center;
  min-height: 100dvh;
  background-color: var(--Blue-100);
  width: 100%;
  font-family: "Red Hat Display", sans-serif;
}
.main_container {
  display: grid;
  place-items: center;
  max-width: 350px;
  width: 100%;
  background-color: var(--Blue-50);
  border-radius: 15px;
  overflow: hidden;
}
.main_img {
  height: auto;
  vertical-align: middle;
  max-width: 100%;

  object-fit: contain;
  overflow: hidden;
  object-position: center;
}
.main_content {
  padding: 0.3em;
}
.order_head {
  padding: 2em;
  text-align: center;
}
h1 {
  font-size: 1.5em;
  font-weight: 800;
}
.order_subtitle {
  font-size: 0.9em;
  line-height: 1.5;
  padding-top: 0.9em;
}
.content_plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: var(--Blue-100);
 /* add sth to reduce the gray to a light gradient */
  border-radius: 10px;
  gap: 2em;
  text-align: center;
  margin: 0 2em 2em 2em;
}
.img_text {
  display: flex;
  gap: 1em;
  align-items: center;
}
.plan_text {
  font-size: 0.9em;
  line-height: 1.5;
}
.annual_plan{
  font-weight: 900;
}
.plan_link {
  color: var(--Blue-700);
  text-decoration: underline;
  font-weight: 900;
  font-size: 0.8em;
  padding-inline-end: 1em;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.proceed_button {
  padding: 0.9em;
  width: 80%;
  border-radius: 10px;
  background-color: var(--Blue-700);
  border: none;
  color: var(--Blue-50);
  /* box-shadow: ; */
}
.cancel_order {
  padding: 1.5em;
font-weight: 900;
font-size: 0.8em;
}
/* 
##Task remaining
1. Adding shadow the othe end of the annaul plan card
2. doing hover effect for the cancel card, button and change 
*/