@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
:root {
  /* ### Primary */

  --Blue-100: hsl(225, 100%, 94%);
  --Blue-700: hsl(245, 75%, 52%);

  /* ### Neutral */

  --Blue-50: hsl(225, 100%, 98%);
  --Gray-600: hsl(224, 23%, 55%);
  --Blue-950: hsl(223, 47%, 23%);
}
.main_body {
  display: grid;
  place-content: center;
  min-height: 100dvh;
  background-color: var(--Blue-100);
  width: 100%;
  font-family: "Red Hat Display", sans-serif;
}
.main_container {
  display: grid;
  place-items: center;
  max-width: 350px;
  width: 100%;
  background-color: var(--Blue-50);
  border-radius: 15px;
  overflow: hidden;
}
.main_img {
  height: auto;
  vertical-align: middle;
  max-width: 100%;

  /* object-fit: contain;
  overflow: hidden;
  object-position: center; */
}
.main_content{
  padding: 0.3em;
}
.order_head{
    padding: 2em;
    text-align: center;
}
h1{
  font-size: 1.5em;
  font-weight: 800;
}
.order_subtitle{
  font-size: 0.9em;
  line-height: 1.5;
  padding-top: 0.9em;
}
.content_plan{
  display: flex;
  align-items: center;
  justify-content: center;

}