@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /* ### Primary */

  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  /* ## Gradients */
  /* Background */
  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);
  /* Circle */
  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);

  /* ### Neutral */

  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}
.card_container {
  display: grid;
  place-content: center;
  min-height: 100dvh;
  background-color: var(--Pale-blue);
  width: 100%;
  text-wrap: pretty;
  font-family: "Hanken Grotesk", sans-serif;
}
.card_main {
  max-width: 390px;
  width: 100%;
  background-color: var(--White);
  border-radius: 10px;
  overflow: hidden;
}

.card_result {
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  color: var(--White);
  text-align: center;
  max-width: 400px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.card_result_text {
  font-size: 0.9em;
  color: var(--Pale-blue);
  opacity: 30%;
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
}

.circle_score {
  font-size: 55px;
  font-weight: 800;
}
.circle_total {
  padding: 0;
  font-size: 0.65em;
  color: var(--Pale-blue);
  opacity: 40%;
}
.big_text {
  font-size: 1.4em;
  font-weight: bold;
}

.comment {
  font-size: 0.95em;
  padding: 1em 2em 0 2em;
}
.summary_container {
  border: 2px var(--White) solid;
  padding: 1.5em 2em;
}
.summary {
  font-size: 0.99em;
  font-weight: bold;
  padding-bottom: 0.5em;
}
.summary_card {
  display: grid;

  gap: 1em;
}
img {
  width: 100%;
  vertical-align: middle;
  height: auto;
  padding-inline-end: 0.5em;
}

.box {
  background-color: var(--Light-royal-blue);
  color: var(--White);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 15px;
}
.icon,
.score {
  display: flex;
  padding: 0.9em;
}
.bold {
  color: hsl(224, 30%, 27%);
  font-weight: 800;
}
.total {
  color: rgb(154, 153, 153);
  font-weight: 600;
}
.reaction_card {
  background-color: hsla(0, 100%, 67%, 0.068);
  color: var(--Light-red);
}
.memory_card {
  background-color: hsla(39, 100%, 56%, 0.068);
  color: var(--Orangey-yellow);
}
.verbal_card {
  background-color: hsla(166, 100%, 37%, 0.068);
  color: var(--Green-teal);
}
.visual_card {
  background-color: hsla(234, 85%, 45%, 0.068);
  color: var(--Cobalt-blue);
}
button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(224, 30%, 27%);
  padding: 0.9em;
  border-radius: 25px;
  font-weight: 700;
  font-size: 14px;
}
button:hover {
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  border: none;
}
